.card-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-100);
  width: 100%;
  border-radius: 0.25rem;
}

.card-number-container input {
  width: 40px;
  text-align: center;
}
