.cards__layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 115px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 9px 14px;
  background-color: #e5e5e5;
  font-size: 20px;
}

a {
  color: #000;
  text-decoration: none;
}
