{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["react", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off"
  },
  "globals": {
    "React": "writable",
    "document": false
  }
}
