{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "printWidth": 120
}
