body {
  margin: 0;
  font-size: 2.285vh;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 4.5rem;
}

.header-title {
  font-size: 1rem;
  flex-grow: 1;
  margin-left: 2.25rem;
}

.has-header-back {
  margin-left: 1.5rem;
}

.header-back {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

/* Card */
.card-container {
  width: 13rem;
  height: 7.68rem;
  border-radius: 0.3rem;
  background-color: #e5e5e5;
}

.new-card {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #575757;
  font-size: 1.875rem;
}
