ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.card-controller {
  display: flex;
  justify-content: center;
}

.card-controller *:not(:first-child) {
  margin-left: 1rem;
}
