.button-box {
  width: 100%;
  text-align: right;
}

.button-text {
  margin-right: 10px;
}

.button {
  border: none;
  background: none;
  font-size: 14px;
}

.button-type-transparent {
  font-weight: bold;
}
