.button-box {
  width: 100%;
  text-align: right;
}

.button-text {
  margin-right: 10px;
  color: #2bc1bc;
}

.button-contained {
  background-color: #2bc1bc;
  color: white;
  margin: 10px;
  padding: 10px 24px;
  cursor: pointer;
}

.button-outlined {
  background-color: #dddddd;
  color: white;
  margin: 10px;
  padding: 10px 24px;
  cursor: pointer;
  border: 1px solid #dddddd;
}
