.button-box {
	width: 100%;
}

.bottom-button-box {
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 12px 24px;
}

.button-text {
	margin-right: 10px;
}

.button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 16px;
}
