.card-color1 {
  background: #e24141;
}
.card-color2 {
  background: #547ce4;
}
.card-color3 {
  background: #73bc6d;
}
.card-color4 {
  background: #de59b9;
}
.card-color5 {
  background: #94dacd;
}
.card-color6 {
  background: #e76e9a;
}
.card-color7 {
  background: #f37d3b;
}
.card-color8 {
  background: #fbcd58;
}
