.card-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
}

.empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  width: 208px;
  height: 130px;

  font-size: 30px;
  color: #575757;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  user-select: none;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  width: 208px;
  height: 130px;

  font-size: 30px;
  color: #575757;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.delete-button-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.delete-button {
  padding: 0 10px 0 0;
}

.small-card__chip {
  width: 40px;
  height: 26px;
  left: 95px;
  top: 122px;

  background: #cbba64;
  border-radius: 4px;
}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  width: 290px;
  height: 180px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.big-card__chip {
  width: 55.04px;
  height: 35.77px;

  background: #cbba64;
  border-radius: 4px;

  font-size: 24px;
}

.card-top {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-middle {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
}

.card-number {
  font-size: 16px;
}

.card-bottom {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-bottom__number {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-bottom__info {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  font-size: 14px;

  vertical-align: middle;
  font-weight: 400;
}

.card-text__big {
  font-size: 18px;
  font-weight: 400;
}

.card-color {
  width: 30px;
  height: 30px;

  border-radius: 50%;
}
