@import "./card.css";
@import "./input.css";
@import "./button.css";
@import "./modal.css";
@import "./utils.css";

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

input {
  font-size: 16px;
}

.root {
  background-color: #fff;
  width: 375px;
  min-width: 375px;
  height: 700px;
  position: relative;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #383838;
}

.mr-10 {
  margin-right: 10px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.text-black {
  color: black;
}

.hide {
  visibility: hidden;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
