.modal {
  width: 375px;
  height: 220px;

  border-radius: 5px 5px 15px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: #fff;
  z-index: 10;
}

.modal-dimmed {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 15px;

  z-index: 5;
}

.modal-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-item-dot {
  margin: 0.5rem 1rem;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #94dacd;
}

.dot1 {
  background-color: #74c0fc;
}

.dot2 {
  background-color: #8ce99a;
}

.dot3 {
  background-color: #b197fc;
}

.dot4 {
  background-color: #f03e3e;
}

.dot5 {
  background-color: #ffe066;
}

.dot6 {
  background-color: #ffa94d;
}

.dot7 {
  background-color: #91a7ff;
}

.dot8 {
  background-color: #0c8599;
}

.modal-item-name {
  font-size: 12px;
  letter-spacing: -0.085rem;
}
