.text-fulfilled {
  color: #06c09e;
  font-weight: 600;
  transition: ease-in-out 0.15s;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-error {
  color: #ff4d4f;
  font-weight: 600;
  transition: ease-in-out 0.15s;
}
