:root {
  --color-red: #e24141;
  --color-blue: #547ce4;
  --color-green: #73bc6d;
  --color-violet: #de59b9;
  --color-gradient: #04c09e;
  --color-pink: #e76e9a;
  --color-orange: #f37d3b;
  --color-yellow: #fbcd58;
  --color-gray: #e5e5e5;
}
