.tooltip-wrap {
  color: red;
}

.hide {
  display: none;
}

.message {
  position: relative;
  font-size: 0.8rem;
  background-color: gray;
  border-radius: 0.3rem;
  padding: 0 4px;
  color: white;
}
/*#484848;*/
.message::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
}
