.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt-10 {
  margin-top: 2.5rem !important;
}

.mt-20 {
  margin-top: 5rem !important;
}

.mt-30 {
  margin-top: 7.5rem !important;
}

.mt-40 {
  margin-top: 9rem !important;
}

.mt-50 {
  margin-top: 11.5rem !important;
}

.mb-10 {
  margin-bottom: 2.5rem !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.w-15 {
  width: 15% !important;
}
