/* text-align */
.text-center {
  text-align: center;
}

/* gap */
.gap-x-5 {
  column-gap: 5px;
}

/* width */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-100 {
  width: 100%;
}

/* margin */
.mt-20 {
  margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
