.button-box {
  width: 100%;
  text-align: right;
}

.delete-box {
  text-align: left;
}

.delete-box > button {
  color: red;
}

.button {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  background-color: transparent;
  transition: 0.5s;
}

.button-text {
  /* margin-right: 10px; */
}
