.password-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-container input {
  width: 40px;
  background-color: var(--color-grey-100);
  margin-right: 8px;
  border-radius: 0.25rem;
  text-align: center;
}
