.card__container {
  width: 185px;
  height: 115px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 9px 14px;
}

.card__name {
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  height: 10px;
}

.card__chip {
  margin-top: 20px;
  width: 40px;
  height: 26px;
  background-color: #cbba64;
  border-radius: 4px;
}

.card__number {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12px;
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 4px;
}

.card__info {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.card__holder {
  font-size: 10px;
}

.card__expiration {
  font-size: 10px;
}
