.input-basic {
  background-color: #ecebf1;
  height: 45px;
  width: 100%;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #9ca3af;
  border: none;
  border-radius: 0.25rem;
}

.input-basic:invalid {
  background-color: red;
}

/* 
.input {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
}

.filled {
  border: 0;
  color: #fff;
}

.outlined {
  background-color: transparent;
}

.ghost {
  border: 0;
  background-color: transparent;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 2rem;
}

.disabled {
  cursor: default;
  opacity: 0.7;
} */
