.header {
  display: flex;
  align-items: center;
  color: var(--color-text);
  min-height: 40px;
  padding: 0 24px;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey-100);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}

.icon {
  display: flex;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
}
