html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p a,
img,
center,
ol,
ul,
li,
form,
label,
article,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  height: calc(100vh - 2px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  border: 1px solid blue;
}
