body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

input::placeholder{
  font-size: 12px;
}

#root {
  background-color: #fff;
  width: 375px;
  min-width: 375px;
  height: 800px;
  position: relative;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #383838;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between>*:only-child{
  margin-left: auto;
}

.gap-5 {
  gap: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-30 {
  margin-top: 7.5rem;
}

.mt-40 {
  margin-top: 9rem;
}

.mt-50 {
  margin-top: 11.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.moon > div {
  background-color: #fddc69;
}

.wave > div {
  background-color: #99c4ff;
}

.cherry-blossom > div {
  background-color: #ffafd2;
}

.parang > div {
  color: #ffffff !important;
  background-color: #003899;
}

.leaf > div {
  background-color: #022d0d;
  color: #ffff !important;
}

.unicorn > div {
  background-color: #00ebe6;
}

.star > div {
  background-color: #ffd250;
}


.sky > div {
  background-color: #87CEEB;
}
