.card-company-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: center;
  padding: 15px 0;
  border-radius: 8px 8px 0 0;
}

.card-company-item {
}

.card-company-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.card-company-color {
  margin: 0.5rem 1rem;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #94dacd;
}

.card-company-name {
  font-size: 12px;
  letter-spacing: -0.085rem;
}
